<div class="row mt-5">
    <div class="col">

        <div class="form-group">
            <label>Post Title</label>
            <input type="text" class="form-control" id="title" placeholder="Post Title" name="title" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label>Post Content</label>
           <!--<ngx-editor-menu [editor]="editor" > </ngx-editor-menu>
            <ngx-editor
                
                [ngModel]="html"
                [editor]="editor"
                //[config]="editorConfig"
                [disabled]="false"
                [placeholder]="'Type here...'" ></ngx-editor>-->
                <angular-editor [placeholder]="'Type here'" [config]="editorConfig" [(ngModel)]="content"></angular-editor>
        </div>
        <div class="form-group float-right">
            <button (click)="createPost()" class="btn btn-warning round">Submit</button>
        </div>
    </div>
</div>
